@import url('https://fonts.cdnfonts.com/css/comic-sans');
@import url('/node_modules/bootstrap/dist/css/bootstrap.css');

* {
  font-family: 'Comic Sans', sans-serif;
}

.App {
  min-height: 100vh;
  padding-top: 100px;
}
